# Data Science Tools and Ecosystem

In this notebook, Data science Tools and Ecosystems are summerized.

**Objectives:**
* Popular Languages for Data Science
* Commonn Libraries for Data Science
* Data Science Tools
* Arthimetic Operations
* Creating Code and Markdown Cell

Some of the popular languages that Data Scientists use are:
1. Python
2. Java
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Numpy
2. Matplotlib
3. TensorFlow

| Data Science Tools| 
| ------------------| 
| Apache Spark| 
| Jupyter| 
| Rstudio|

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
#This is a simple arithmetic expression to multiply then add integers.
(3*4)+5

17

In [5]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author:
Wardah Sarmad